In [ ]:
# print
print("hello World")

In [1]:
# variables and data types
a=12
b=2.5
c="muna"
print(a)
print(b)
print(c)

12
2.5
muna

In [2]:
#print data types
a=12
b=2.5
c="muna"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# arithmetic operator
sum=2*5
print(sum)

In [ ]:
# assignment operator
a=34
a-=12
print(a)

In [ ]:
# comparison operator
b=(4<7)
print(b)

In [ ]:
# logical operator
a=True
b=False
print(a or b)

In [4]:
# typecasting
a=10.5
a=int(a)
print(type(a))

<class 'int'>

In [5]:
# remainder
a=45
b=10

print(a%b)

5

In [6]:
# finding average
a=input("enter first number")
b=input("enter second number")
a=int(a)
b=int(b)
print((a+b)/2)

15.0

In [7]:
# string
print("muna")

muna

In [9]:
# concatination
a="muna"
b="   kandel"
print(a+b)

muna   kandel

In [10]:
# indexing
name="taylor"
print(name[0])

t

In [11]:
# string doesnot support item assignment
name="taylor"
name[3]="d"
print(name[3])

TypeError: 'str' object does not support item assignment

In [12]:
# slicing
name="taylor"
print(name[0:2])

ta

In [13]:
name="taylor"
print(name[ :4])

tayl

In [14]:
name="taylor"
print(name[0: ])

taylor

In [15]:
name="taylor"
print(name[1:])

aylor

In [16]:
# slicing with skip value
name="taylor"
print(name[1:4:1])

ayl

In [17]:
name="taylor"
print(name[1:4:2])

al

In [18]:
story="thank you guys"
print(len(story))
print(story.count("a"))
print(story.count("you"))
print(story.capitalize())
print(story.find("guys"))
print(story.replace("guys","all"))

14
1
1
Thank you guys
10
thank you all

In [19]:
print("python is easy to learn\nstudy\thard")

python is easy to learn
study	hard

In [20]:
# Using string methods
sentence = "    Python Programming is fun!    "
print(sentence.lower())        # Convert to lowercase
print(sentence.upper())        # Convert to uppercase
print(sentence.strip())        # Remove leading and trailing whitespaces
print(sentence.replace('fun', 'awesome'))  # Replace substring

    python programming is fun!
    PYTHON PROGRAMMING IS FUN!
Python Programming is fun!
    Python Programming is awesome!

In [21]:
# lists
list=["mango",2,True]
print(list)
print(list[0])
# list slicing
print(list[0:2])

['mango', 2, True]
mango
['mango', 2]

In [22]:
# Modifying elements in a list
numbers = [1, 2, 3, 4, 5]
numbers[2] = 10
print("Modified list:", numbers)

Modified list: [1, 2, 10, 4, 5]

In [23]:
# list methods
l=[1,5,7,2,8,3]
print(l)
l.sort()
print(l)
l.reverse()
print(l)
l.append(0)
print(l)
# add 6 at index 3
l.insert(3,6)
print(l)
# remove from list
l.remove(0)
print(l)

[1, 5, 7, 2, 8, 3]
[1, 2, 3, 5, 7, 8]
[8, 7, 5, 3, 2, 1]
[8, 7, 5, 3, 2, 1, 0]
[8, 7, 5, 6, 3, 2, 1, 0]
[8, 7, 5, 6, 3, 2, 1]

In [24]:
# tuples
# empty tuple
a=()
# tuple with only one element needs a comma
a=(1,)
# tuple with more than one element
a=(1,2,3,4)
# tuple methods
# count the no. of 1's in tuple
print(a.count(1))
# return the index of first occurrance of 3 in a
a.index(3)

1

2

In [26]:
# dictionary
nce={}
print(nce)

{}

In [27]:
nce={"list":[1,2,3,4],"fruits":"apple,mango"}
print(nce)
print(nce.keys())
print(nce.values())
print(nce.items())
a={"students":"bct,bel,bex"}
nce.update(a)
print(nce)

{'list': [1, 2, 3, 4], 'fruits': 'apple,mango'}
dict_keys(['list', 'fruits'])
dict_values([[1, 2, 3, 4], 'apple,mango'])
dict_items([('list', [1, 2, 3, 4]), ('fruits', 'apple,mango')])
{'list': [1, 2, 3, 4], 'fruits': 'apple,mango', 'students': 'bct,bel,bex'}

In [28]:
# set
a={1,2,3,4}
print(type(a))
print(a)
a.add(5)
print(a)
# can add tuples but can't add list
a.add((6,7,8))
print(a)
# emptyset
a=set()
print(type(a))
# adding values to empty set

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, (6, 7, 8)}
<class 'set'>

In [29]:
a={1,2,3,4}
print(len(a))
a.remove(3)
print(a)
# empties the set
a.clear()
print(a)

4
{1, 2, 4}
set()

In [30]:
a={1,2,3,4}
b=a.union({5,4,7})
print(b)
c=a.intersection({2,3,8,9})
print(c)

{1, 2, 3, 4, 5, 7}
{2, 3}

In [31]:
# conditional expressions
a=3
if (a>3):
    print("value of a is greater than 3" )
elif(a>7):
    print("the value of a is greater than 7")
else:
    print("the value of a is not greater than 3 or 7")

the value of a is not greater than 3 or 7

In [32]:
# is and in
a=1
if(a is None):
    print("yes")
else:
    print("no")

no

In [34]:
a=[1,2,3,4,5,6,90,59,50]
print(100 in a)

False

In [35]:
# for loop
# Print numbers from 1 to 5
for i in range(1, 6):

    print(i)
# end value specified in range() is not included in the generated sequence

1
2
3
4
5

In [36]:
# while loop
# Print numbers from 1 to 5 using a while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [37]:
# Print even numbers from 2 to 10
for num in range(2, 11, 2):
    print(num)

2
4
6
8
10